@*
SPDX-License-Identifier: MIT
Copyright ©2021 Marc King
*@

@inherits HeaderBase

<div class="header">
  <Logo/>
  <div class="menu">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
      Home
    </NavLink>
    <NavLink class="nav-link" href="fetchdata">
      <span class="material-icons md-10">settings</span>Tools
    </NavLink>
  </div>
</div>
