@*
SPDX-License-Identifier: MIT
Copyright ©2021 Marc King
*@

@inherits Component1Base

<div class="my-component">
  This Blazor component is defined in the <strong>LostHarbor.UX</strong> package.
</div>
