# Build
**/bin
**/obj

# Sass-only
**/*.css
**/*.css.map

# VS Code
**/.vscode/*
!**/.vscode/extensions.json
!**/.vscode/launch.json
!**/.vscode/project.code-snippets
!**/.vscode/settings.json
!**/.vscode/tasks.json
**/.history

# Misc
**/.DS_Store
