$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$font-family-normal: "Rubik", sans-serif;
$font-family-monospace: "Roboto Mono", monospace;
$font-family-display: "Comfortaa", sans-serif;
