@*
SPDX-License-Identifier: MIT
Copyright ©2021 Marc King
*@

@page "/"
@inherits IndexBase

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Component1></Component1>

<img src="assets/logo.svg" height="40px"/>
<br/>
<br/>
<img src="assets/logo-dyson.svg" height="100px"/>

