// SPDX-License-Identifier: MIT
// Copyright ©2021 Marc King

@use "sass:color";

@mixin text-change-animation($animation-name, $text-list) {
  @include keyframes($animation-name) {
    $length: length($text-list) - 1;

    @each $text in $text-list {
      $percent: ((index($text-list, $text) - 1) / $length) * 100%;

      #{$percent} {
        content: $text;
      }
    }
  }
}

$loading-help-list: "Generating random garbage...", "Filling holes with dirt...",
  "Hiding the bodies...", "Doing more stuff...", "This shouldn't be taking this long...",
  "Do you think it's broken?", " ", " ";
@include text-change-animation(change-loading-help, $loading-help-list);

div#app > div.loader {
  width: 100vw;
  height: 100vh;

  display: flex;
  padding: 16px;

  background-color: #131313;

  align-items: center;
  justify-content: center;

  & > div.container {
    max-width: 100%;
    width: 500px;
    min-width: 150px;

    & > div.card {
      background-color: #1b1b1b;
      border: 1px solid #282828;
      border-radius: 4px;
      padding: 16px 24px;

      & > div.messages {
        color: #666666;
        font-size: 14px;
        line-height: 14px;
        height: 14px;
        margin-bottom: 32px;

        &:after {
          content: "";
          @include animation(change-loading-help 10s linear infinite);
        }
      }
    }

    & > div.copyright {
      color: color.adjust($color-orange, $alpha: -0.5);
      font-family: $font-mono;
      font-size: 10px;
      text-align: right;
      margin-top: 4px;
    }
  }
}

div#app > div.loader > div.container > div.card div.spinner {
  display: flex;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;

  align-items: center;
  justify-content: center;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

  &.spinner-1 {
    width: 100px;
    height: 100px;

    &:before,
    &:after {
      border: 3px solid transparent;
      border-top-color: $color-orange-400;
    }

    &:before {
      z-index: 100;
      @include animation(spin-ccw-x2 2s infinite);
    }

    &:after {
      border: 10px solid #1b1b1b;
    }
  }

  &.spinner-2 {
    width: 80px;
    height: 80px;

    &:before,
    &:after {
      border: 3px solid transparent;
      border-bottom-color: $color-orange;
    }

    &:before {
      z-index: 100;
      @include animation(spin-cw-x2 2s infinite);
    }

    &:after {
      border: 10px solid #1b1b1b;
    }
  }

  &.spinner-3 {
    width: 60px;
    height: 60px;

    &:before,
    &:after {
      border: 3px solid transparent;
      border-top-color: $color-orange;
    }

    &:before {
      z-index: 100;
      @include animation(spin-ccw-x2 2s infinite);
    }

    &:after {
      border: 10px solid #1b1b1b;
    }
  }

  &.spinner-4 {
    width: 40px;
    height: 40px;

    &:before,
    &:after {
      border: 3px solid transparent;
      border-bottom-color: $color-orange;
    }

    &:before {
      z-index: 100;
      @include animation(spin-cw-x2 2s infinite);
    }

    &:after {
      border: 10px solid #1b1b1b;
    }
  }
}
